body{
    background-color: bisque;
}

.navbar-brand{
    font-size: 30px;
    margin-left: 5%;
    font-family:EBGaramond ;
    text-shadow: 1px 1px 1px black;
    

}

#carouselExampleCaptions{
    width: 700px;
    margin: auto;
}

.carousel-item img{
    border-radius: 5px 1000px ;
    
}

.clearfix{
    max-width: 700px;
    margin: auto;
}

.clearfix img{
    max-width: 500px;
    max-height: 400px;
    border-radius: 90px 0;
}

.card img{
    max-width: 800px;
}
.card-deck{
    display: flex;
    max-width: 900px;
    margin: auto;
    gap: 20px;
}